<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
        <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body th:object="${memberDto}">
        <h1>회원정보 출력 예제</h1>
        <div>
            회원번호 : <span th:text="*{memNo}"></span>
        </div>
        <div>
            아이디 : <span th:text="*{memId}"></span>
        </div>
        <div>
            이름 : <span th:text="*{memNm}"></span>
        </div>
        <div>
            가입일시 : <span th:text="${#temporals.format(memberDto.regDt, 'yyyy-MM-dd HH:mm:ss')}"></span>
        </div>
    </body>
</html>